@import '../reset.css';
@import '../header.css';
@import '../colors.css';
@import '../typography.css';
@import '../footer.css';

.contact__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0 70px 0;
}

.contact__text-wrapper p,
.contact__text-wrapper h1 {
  max-width: 800px;
  text-align: center;
}

.contact__form-wrapper {
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--primary);
}

.contact__form-grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 34px 2%;
}

.contact__grid-items {
  display: flex;
  flex-direction: column;
  width: 98%;
  border-bottom: 1px solid var(--black);
}

.contact__textarea-wrapper {
  grid-column: span 2;
  border-bottom: 1px solid var(--black);
  display: flex;
  flex-direction: column;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
}

.contact__form input,
.contact__form textarea {
  padding: 16px 10px;
  border: 1px solid var(--black);
  color: var(--black);
  border: none;
  background-color: var(--light-grey);
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
  font-size: 18px;
}

.contact__form label {
  margin-bottom: 10px;
  font-size: 22px;
}

.contact__form-button {
  background-color: var(--secondary);
  color: var(--white);
  border: none;
  font-size: 20px;
  padding: 16px 104px;
  border-radius: 30px;
  cursor: pointer;
}

.contact__form-button:hover {
  background-color: var(--black);
}

.contact__button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.contact__info-wrapper {
  margin: 150px 0;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.contact__info-card {
  background-color: var(--light-grey);
  padding: 5rem;
  /* Box shadow from https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact__info-block {
  display: flex;
  gap: 20px;
  word-break: break-word;
}

.contact__info-block > a {
  text-decoration: none;
  color: var(--black);
  font-size: 20px;
  display: flex;
  align-self: center;
}

.contact__info-block > a:hover {
  color: var(--primary);
}

.contact__info-block > img {
  height: 42px;
  width: 42px;
}

.contact__info-paragraph {
  font-size: 20px;
}

.contact__opening-hours-paragraph {
  color: var(--primary);
  font-size: 26px;
  margin-bottom: 14px;
}

@media screen and (max-width: 1400px) {
  .contact__info-card {
    width: 45%;
  }
}

@media screen and (max-width: 1000px) {
  .contact__info-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact__info-card {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .contact__form-grid {
    grid-template-columns: repeat(1, 2fr);
    gap: 34px 0;
  }

  .contact__grid-items,
  .contact__textarea-wrapper {
    width: 100%;
  }

  .contact__textarea-wrapper {
    grid-column: span 1;
  }

  .contact__text-wrapper p,
  .contact__text-wrapper h1 {
    max-width: 90%;
  }

  .contact__info-card {
    padding: 3rem;
  }

  .contact__form-wrapper {
    margin: 0 auto 70px auto;
  }

  .contact__text-wrapper {
    margin-top: 70px;
  }

  .contact__info-wrapper {
    margin: 70px 0;
  }
}

@media screen and (max-width: 450px) {
  .contact__heading {
    font-size: 28px;
  }

  .contact__info-paragraph {
    font-size: 16px;
  }

  .contact__opening-hours-paragraph {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .contact__grid-items,
  .contact__textarea-wrapper {
    width: 90%;
  }
}
