@import '../reset.css';
@import '../header.css';
@import '../colors.css';
@import '../typography.css';
@import '../footer.css';

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/hero/sjøløve-show.jpg');
  height: 60vh;
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__heading-wrapper {
  margin-bottom: 104px;
  background-color: var(--secondary);
  opacity: 0.9;
  padding: 16px 22px;
  border-radius: 16px;
}

.main-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.main__card {
  background-color: var(--primary);
  width: 33%;
  max-width: 400px;
  height: 320px;
  padding: 35px;
  border-radius: 20px;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__card:nth-child(2) {
  background-color: var(--secondary);
}

.main__card:hover {
  opacity: 1;
  background-color: var(--black);
}

.main__card:nth-child(2):hover {
  background-color: var(--black);
}

.hero__heading {
  font-size: 48px;
  color: var(--white);
  margin: 0;
}

.main__card-heading {
  color: var(--white);
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}

.main__card-paragraph {
  color: var(--white);
  text-align: center;
  font-size: 18px;
}

/* Credit to Stickers on https://stackoverflow.com/questions/35990445/how-to-move-a-div-up-and-down-infinitely-in-css3  */
@keyframes MoveUpDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 15px;
  }
}

.hero-wave {
  animation: MoveUpDown 2.5s linear infinite;
  position: relative;
  margin-top: -200px;
}

.hero-wave__mobile {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0 300px 0;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
}

.main-text__wrapper {
  width: 50%;
  max-width: 800px;
}

.main-heading {
  color: var(--primary);
  font-size: 42px;
}

.main-heading--border {
  border-bottom: 1px dotted var(--primary);
  padding-bottom: 10px;
}

.main-subheading {
  color: var(--primary);
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
}

.main-paragraph {
  font-size: 20px;
  margin-top: 20px;
}

.main-image__wrapper {
  max-width: 700px;
  /* Box shadow from and credit to Material */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: transform 0.4s;
}

.main-image__wrapper:hover {
  transform: scale(1.1);
}

.main-gallery {
  margin: 50px 0 150px 0;
}

.main-gallery__grid {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-auto-rows: 600px;
  gap: 16px;
}

.main-gallery__grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-gallery__image {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: transform 0.4s;
}

.main-gallery__image:hover {
  transform: scale(1.03);
}

.main-gallery__image--cols-2 {
  grid-row: span 2;
}

.main-gallery__heading-wrapper {
  border-top: 2px solid var(--primary);
  display: flex;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
  padding: 200px 0 50px 0;
}

@media screen and (min-width: 2550px) {
  .hero-wave {
    margin-top: -300px;
  }

  .hero {
    min-height: 1100px;
  }
}

@media screen and (max-width: 1615px) {
  .hero-wave {
    margin-top: -130px;
  }

  .main-wrapper {
    flex-direction: column;
  }

  .main-wrapper--reverse {
    /* This is a bad practise for accessibility but I want to show that I can use it */
    flex-direction: column-reverse;
  }

  .main-text__wrapper {
    width: 80%;
    max-width: 80%;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1020px) {
  .hero {
    background-image: url('../../assets/hero/sjøløve-show-tablet.jpg');
  }

  .hero-wave {
    margin-top: -88px;
  }

  .main__card {
    width: 80%;
    max-width: 80%;
    height: 30%;
  }

  .hero__heading {
    font-size: 36px;
  }

  .hero__heading-wrapper {
    margin-bottom: 50px;
  }

  .main-gallery__grid {
    grid-template-columns: repeat(2, 2fr);
  }

  .main-image__wrapper {
    width: 680px;
  }
}

@media screen and (max-width: 700px) {
  .main__card {
    max-width: 90%;
    width: 90%;
    margin: 0;
  }

  .hero__heading {
    font-size: 28px;
  }

  .hero-wave {
    display: none;
  }

  .hero-wave__mobile {
    display: block;
    margin-top: -150px;
  }

  .main {
    margin-bottom: 100px;
  }

  .main-gallery__heading-wrapper {
    padding-top: 100px;
  }

  .main-gallery__heading-wrapper > h2 {
    text-align: center;
  }

  .main-gallery__grid {
    grid-template-columns: repeat(1, 2fr);
  }

  .main-gallery__image--cols-2 {
    grid-row: span 1;
  }

  .main-image__wrapper {
    width: 90%;
    max-width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    min-height: 400px;
    height: 400px;
    background-image: url('../../assets/hero/sjøløve-show-mobile.jpg');
  }

  .hero__heading-wrapper {
    width: 90%;
  }

  .hero__heading {
    text-align: center;
  }

  .hero-wave__mobile {
    display: block;
    margin-top: -108px;
  }

  .main {
    margin-top: 60px;
  }

  .main-heading {
    font-size: 28px;
    width: 90%;
    text-align: center;
  }

  .main-heading--border {
    text-align: left;
  }
}

@media screen and (max-width: 350px) {
  .hero__heading-wrapper {
    margin-bottom: 16px;
  }

  .hero-wave__mobile {
    display: block;
    margin-top: -75px;
  }

  .footer__contact-info {
    word-wrap: break-word;
  }
}
