.footer {
  background-color: var(--primary);
  padding: 0 300px 100px 300px;
  display: flex;
  gap: 30px;
}

.footer__section-wrapper {
  width: 30%;
  margin: 0 32px 0 32px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer__contact-info-block {
  display: flex;
  gap: 12px;
  word-break: break-word;
}

.footer__heading {
  color: var(--white);
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.footer__paragraph {
  color: var(--white);
}

.footer__contact-info-block > a {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
}

.footer__contact-info-block > a:hover {
  color: var(--black);
}

.footer__contact-info-block > img {
  height: 32px;
  width: 32px;
}

.footer__newsletter-form {
  display: flex;
  flex-direction: column;
}

.footer__newsletter-label {
  color: var(--white);
  margin-bottom: 10px;
}

#newsletter {
  padding: 12px;
  border-radius: 22px;
  border: none;
}

.footer__newsletter-button {
  padding: 12px 60px;
  border-radius: 22px;
  border: none;
  background-color: var(--secondary);
  color: var(--white);
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}

.footer__newsletter-button:hover {
  background-color: var(--black);
}

.footer__wave-mobile {
  display: none;
}

.footer-attribution {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  padding: 30px 0;
}

.footer-attribution p {
  color: var(--white);
}

.footer-attribution__link {
  color: var(--secondary);
  text-decoration: none;
}

.footer-attribution__link:hover {
  color: var(--black);
}

@media screen and (max-width: 2000px) {
  .footer {
    padding: 0 100px 100px 100px;
  }
}

@media screen and (max-width: 1600px) {
  .footer__newsletter-button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1020px) {
  .footer {
    flex-direction: column;
    padding-top: 150px;
  }

  .footer__section-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding: 30px 50px 30px 50px;
    align-items: center;
  }

  .footer__wave {
    display: none;
  }

  .footer__wave-mobile {
    display: block;
  }
}
