@import '../colors.css';
@import './typography.css';

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  background-color: var(--primary);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px 0 40px;
}

.header__logo-link {
  text-decoration: none;
  color: var(--white);
  font-size: 30px;
}

.header-nav {
  display: flex;
}

.header-nav > li {
  list-style: none;
}

.header__nav-link {
  text-decoration: none;
  color: var(--white);
  margin: 12px;
  font-size: 20px;
}

.header__nav-link--button {
  background-color: var(--secondary);
  padding: 12px 16px;
  border-radius: 18px;
}

.header__nav-link:hover {
  color: var(--black);
}

.header__nav-link--button:hover {
  background-color: var(--black);
  color: var(--white);
}

/* Header breaks at 812px */

@media screen and (max-width: 812px) {
  .header__logo-link {
    font-size: 22px;
  }

  .header__nav-link {
    font-size: 18px;
  }

  .header__nav-link--button {
    font-size: 18px;
    padding: 12px 10px;
  }
}

@media screen and (max-width: 700px) {
  .header-nav {
    display: none;
  }
}
